body{
    display: flex;
    flex-direction: column;
    background-color:rgb(249, 246, 185);
}

.logo{
    color: rgb(77, 30, 30);
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    background-color:rgb(143, 172, 172);
    flex: 1;
    overflow-y: auto;
}

